<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Photo</key>
		<string>A Tomorrow more fit for love</string>
		<key>Caption</key>
		<string>A Tomorrow more fit for love with a longer title to test wrapping of lines. Keep going and going and going 115 char</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>A ways to go</string>
		<key>Caption</key>
		<string>A ways to go</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>A whisper is enough</string>
		<key>Caption</key>
		<string>A whisper is enough</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Believe</string>
		<key>Caption</key>
		<string>Believe</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Don&apos;t give up</string>
		<key>Caption</key>
		<string>Don&apos;t give up</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Doodle Bubble Designs</string>
		<key>Caption</key>
		<string>Doodle Bubble Designs</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Gather</string>
		<key>Caption</key>
		<string>Gather</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Getting lost</string>
		<key>Caption</key>
		<string>Getting lost</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Giving Heals</string>
		<key>Caption</key>
		<string>Giving Heals</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Have to Believe</string>
		<key>Caption</key>
		<string>Have to Believe</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>I want real</string>
		<key>Caption</key>
		<string>I want real</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Lanterns cover</string>
		<key>Caption</key>
		<string>Lanterns cover</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Look around you</string>
		<key>Caption</key>
		<string>Look around you</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Magic</string>
		<key>Caption</key>
		<string>Magic</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Peace - Torri and Alex</string>
		<key>Caption</key>
		<string>Peace - Torri and Alex</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>So tired</string>
		<key>Caption</key>
		<string>So tired</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Spirit of the Sea</string>
		<key>Caption</key>
		<string>Spirit of the Sea</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Spirit Shines Through</string>
		<key>Caption</key>
		<string>Spirit Shines Through</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>That You Are Found</string>
		<key>Caption</key>
		<string>That You Are Found</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>The next</string>
		<key>Caption</key>
		<string>The next</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>The Sound</string>
		<key>Caption</key>
		<string>The Sound</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>We Breathe</string>
		<key>Caption</key>
		<string>We Breathe</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>When Injustice Comes</string>
		<key>Caption</key>
		<string>When Injustice Comes</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Your Soul Looks Good In This Light</string>
		<key>Caption</key>
		<string>Your Soul Looks Good In This Light</string>
	</dict>
</array>
</plist>
