<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Photo</key>
		<string>A Tomorrow more fit for love</string>
		<key>Caption</key>
		<string>A Tomorrow more fit for love</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>A ways to go</string>
		<key>Caption</key>
		<string>A ways to go</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Anything</string>
		<key>Caption</key>
		<string>Anything</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>At the Breaking</string>
		<key>Caption</key>
		<string>At the Breaking</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Believe</string>
		<key>Caption</key>
		<string>Believe</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Do Good</string>
		<key>Caption</key>
		<string>Do Good</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Don&apos;t Give Up</string>
		<key>Caption</key>
		<string>Don&apos;t Give Up</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Find Something</string>
		<key>Caption</key>
		<string>Find Something</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Flicker</string>
		<key>Caption</key>
		<string>Flicker</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Holy Ground</string>
		<key>Caption</key>
		<string>Holy Ground</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>I Adventure</string>
		<key>Caption</key>
		<string>I Adventure</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>I Have a Choice</string>
		<key>Caption</key>
		<string>I Have a Choice</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Laugh &amp; Cry</string>
		<key>Caption</key>
		<string>Laugh &amp; Cry</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Let It Grow</string>
		<key>Caption</key>
		<string>Let It Grow</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Magic</string>
		<key>Caption</key>
		<string>Magic</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Me that is Me</string>
		<key>Caption</key>
		<string>Me that is Me</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Mountains</string>
		<key>Caption</key>
		<string>Mountains</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Paper Airplane</string>
		<key>Caption</key>
		<string>Paper Airplane</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Speak</string>
		<key>Caption</key>
		<string>Speak</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Spirit of Laughter</string>
		<key>Caption</key>
		<string>Spirit of Laughter</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>The Brilliance</string>
		<key>Caption</key>
		<string>The Brilliance</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Tower</string>
		<key>Caption</key>
		<string>Tower</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Whisper</string>
		<key>Caption</key>
		<string>Whisper</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Women</string>
		<key>Caption</key>
		<string>Women</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>Yes</string>
		<key>Caption</key>
		<string>Yes</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>You Taught Me to Dream</string>
		<key>Caption</key>
		<string>You Taught Me to Dream</string>
	</dict>
</array>
</plist>
